In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm 
from sklearn.metrics import accuracy_score

In [26]:
dia_dataset=pd.read_csv("/content/diabetes.csv")
dia_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [27]:
dia_dataset.shape

(768, 9)

In [28]:
dia_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [29]:
dia_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [30]:
dia_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [31]:
x=dia_dataset.drop(columns="Outcome", axis=1)
y=dia_dataset['Outcome']

In [32]:

print(x)
print(y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

Train Test Split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [37]:
print(x_train.shape,x_test.shape)

(614, 8) (154, 8)

In [38]:
classifier=svm.SVC(kernel='linear')

In [39]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [40]:
#Accuracy Score on train data
x_train_acc=classifier.predict(x_train)
training_data_acc=accuracy_score(x_train_acc,y_train)

In [41]:
print("Accuarcy score=",training_data_acc)

Accuarcy score= 0.7833876221498371

In [42]:
#Accuracy Score on test data
x_test_pred=classifier.predict(x_test)
test_data_acc=accuracy_score(x_test_pred,y_test)

In [43]:
print("Accuarcy score=",test_data_acc)

Accuarcy score= 0.7727272727272727

Predictive System

In [44]:
input_data= (4,110,92,0,0,37.6,0.191,30)
input_data = np.array(input_data).reshape(1,-1)

print(input_data)

[[  4.    110.     92.      0.      0.     37.6     0.191  30.   ]]

In [45]:
prediction = classifier.predict(input_data)
print(prediction)

[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [47]:
if prediction[0]==0:
  print("The Person is not Diabetic")
else:
  print("THe Person is Diabetic")

The Person is not Diabetic

Saving the train model

In [48]:
import pickle

In [51]:
filename="train_model";
pickle.dump(classifier,open(filename,'wb'))

loading the saved model

In [52]:
load_model=pickle.load(open("train_model",'rb'))

In [53]:
input_data= (4,110,92,0,0,37.6,0.191,30)

input_data = np.array(input_data).reshape(1,-1)

prediction = load_model.predict(input_data)
print(prediction)
if prediction[0]==0:
  print("The Person is not Diabetic")
else:
  print("THe Person is Diabetic")

[0]
The Person is not Diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"